<p  class="subtitle">
Вход. Я жду после логина (см  консоль):
</p>
<pre>
      {{ '{' }}expiresIn: %timestamp, idToken: 'jdfkjghsdkfhgkjsdhfjghsdkfjg...etc...' {{ '}' }}
</pre>

<p> и оно всё сохранится в локальном хранилище браузера</p>

<form [formGroup]="form">
  <fieldset>
    <legend>Логин</legend>
    <div class="field">
      <label class="label">id:</label>
      <input  class="input" name="id" formControlName="id">
    </div>
    <div class="field">
      <label class="label">pass:</label>
      <input  class="input" name="password" formControlName="password" type="password">
    </div>
  </fieldset>
  <div class="control">
    <button class="button button-primary" (click)="login()">Login</button>
  </div>
</form>