<div class="container">
<nav>
    <ul>
        <li>
            <a routerLink="/list" routerLinkActive="active">Список</a>
        </li>
        <li>
            <a routerLink="/login" routerLinkActive="active">Логин</a>
        </li>
        <li>
            <a routerLink="/logout" routerLinkActive="active">Выход</a>
        </li>
        <li>
            <a routerLink="/settoken" routerLinkActive="active">Дефолтный токен</a>
        </li>
        <li>
            <a routerLink="/status" routerLinkActive="active">Статус</a>
        </li>
    </ul>
</nav>

<h1 class="title">{{title}}</h1>
<router-outlet></router-outlet>
</div>