
nav {

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

nav ul li {
  /* float: left; */
}
  
nav ul li a {
  padding: 15px;
}

nav ul li a:hover {
  background-color: #ddd;
}

fieldset {
  margin: 15px;
  padding: 15px;
  border: solid 1px #777;
}